.hover-reveal {
    position: fixed;
    width: 450px;
    aspect-ratio: 16/9;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1500 !important;
}

.hover-reveal__inner,
.hover-reveal__img {
    width: 100%;
    height: 100%;
    position: relative;
}

.hover-reveal__deco {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #181314;
}

.hover-reveal__img {
    background-size: cover;
    background-position: 50% 50%;
    mix-blend-mode: difference;
    border-radius: 5px;
}
