.hero {
    // .hero__container

    &__container {
    }

    // .hero__text

    &__text {
        display: flex;
        flex-wrap: wrap;
        // row-gap: 35px;
        column-gap: 15px;
        font-weight: 500;
        font-size: 55px;
        line-height: 73px;
        text-transform: uppercase;
        h2:first-child {
            margin-left: 500px;
        }
    }
}
