@font-face {
     font-family: 'Red Hat Display';
     src: url(./RedHatDisplay-Medium.woff2) format('woff2');
   }
   
   @font-face {
     font-family: 'IBMPlexMono-Medium';
     src: url(./IBMPlexMono-Medium.woff2) format('woff2');
   }

   @font-face {
     font-family: 'IBMPlexMono-Bold';
     src: url(./IBMPlexMono-Bold.woff2) format('woff2');
   }
   

   