.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  z-index: 20;
  height:100vh;
  overflow-y:hidden;
}

@keyframes animateLogo {
  from {opacity: 0; transform:translateY(20px);}
  to {opacity: 1; transform:translateY(0);}
}

.preloader__logo {
animation-name: animateLogo;
animation-duration: 0.4s;
animation-timing-function: ease;
}