@import "../../variables";

.header {
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 100px;
  z-index: 10N;
  pointer-events: none;

  &__logo {
    height: max-content;
    width: max-content;
    pointer-events: auto;
  }

  // .header__container

  &__container {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px);
    padding-top: 35px;
  }

  // .header__right

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  // .header__links

  &__links {
    font-family: IBMPlexMono-Regular, sans-serif;
    display: flex;
    gap: 15px;
    pointer-events: auto;
    div {
      display: flex;
    }
  }

  // .header__link

  &__link {
    @include secondText;
    transform: translateY(100%);
    color: $white;
    padding: 7px 15px;
    background-color: $greySecond;
    border: 1px solid $greySecond;
    border-radius: $radius;
    transition: 0.25s;
    backdrop-filter: blur(15px);

    &:hover {
      background-color: $black;
      color: $white;
      border: 1px solid $white;
    }

    &--active {
      background-color: $white;
      color: $black;
    }
  }
}

.nav {
  display: flex;
  gap: 75px;

  // .nav__links

  &__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 0.25s;
    mix-blend-mode: difference;
    background-color: rgba(0, 0, 255, 0);
  }

  &__link {
    @include secondText;
    transition: 0.25s;
    display: flex;
    gap: 5px;
    align-items: center;
    pointer-events: auto;

    div {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    i {
      font-size: 16px;
    }
  }
}

.nav__links:hover a {
  filter: blur(3px);
}

.nav__links a:hover {
  color: white;
  filter: blur(0);
}
