@import "../../variables";

.footer-mobile {
    position: relative;
    padding-top: 100px;
    padding-bottom: 25px;
    height: 100vh;
    min-height: 500px;
    background-color: #fff;
    backface-visibility: hidden;
    user-select: none;
    overflow: hidden !important;
    z-index: 1;
    //     display:none !important;

    &__container {
        position: fixed;
        display: grid;
        grid-template-columns: 1fr;
        height: 375px;
        max-height: 375px;
        bottom: 25px;
        right: 0;
        left: 0;
    }
    &__title {
        display: flex;
        column-gap: 13px;
        flex-wrap: wrap;
        font-family: "Red Hat Display";
        font-style: normal;
        font-weight: 500;
        font-size: 55px;
        line-height: 73px;
        text-transform: uppercase;
        color: #000;
        //    div:first-child {
        //        margin-left: 200px;
        //    }
    }

    &__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $black;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: end;
        nav {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        nav ul {
            display: flex;
            column-gap: 15px;
        }

        nav ul li {
            font-family: IBMPlexMono-Regular, serif;
            font-size: 12px;
            line-height: 16px;
            letter-spacing: -0.04em;
            text-transform: uppercase;
            a {
                transition: 0.25s;
                color: $black;
            }
            &:hover {
                a {
                    color: $greyThird;
                }
            }
        }
    }

    &__copyright {
        display: flex;
        column-gap: 8px;
        font-family: IBMPlexMono-Regular, serif;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
        flex-wrap: wrap;
    }
    z &__link {
        color: black;
    }
}

.hero,
.about,
.projects,
.form,
.canvas-wrapper {
    position: relative;
    z-index: 5;
}

@media only screen and (max-width: 700px) {
    .footer-mobile__title {
        column-gap: 10px;
        font-size: 35px;
        line-height: 53px;
    }
}

@media only screen and (max-width: 600px) {
    .footer-mobile__title {
        //     font-size: 30px;
        line-height: 34px;
        //     display:none;
        column-gap: 9px;
    }
}
