$black: #000;
$white: #fff;
$grey: rgba(255, 255, 255, 0.5);

body {
     color: $white;
     background-color: $black;
     min-height:100vh;
}

.container {
     margin: 0 auto;
     max-width: 1430px;
     padding: 0 15px;
}

button {
padding-left: 15px;
padding-right: 15px;
padding-top:6.5px;
padding-bottom:7px;
font-family: "IBMPlexMono-Regular";
border-radius: 7px;
cursor:pointer;
font-size:12px;
}

.dark_btn {
     background-color: rgba(255, 255, 255, 0.25);
     color:#fff;
     border:1px solid rgba(255, 255, 255, 0.25);
}

.light_btn {
     background-color: #fff;
     color:#000;
     border:1px solid #fff;
}

.flex {
     display: flex;
}

.items {
     align-items: flex-start;
}