@import "../../variables";

.articles-preview {
    position: relative;
    z-index: 2;
    margin-bottom: 300px;
    &__container {
        display: grid;
        grid-template-columns: minmax(auto, 1fr) minmax(auto, 900px);
        column-gap: 15px;

        &--first {
            display: flex;
            flex-direction: column;

            margin-bottom: 15px;
        }
    }

    &__grid {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}

.article-preview__text {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 46px;
    margin-bottom: 15px;

    span:last-child {
        min-width: 25px;
        font-family: "IBMPlexMono-Regular";
        color: $grey;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: -0.04em;
        text-transform: uppercase;
    }
}
