.articles-preview {
    position: relative;
    z-index: 2;
    margin-bottom: 300px;
    &__container {
        display: grid;
        grid-template-columns: minmax(auto, 1fr) minmax(auto, 900px);
        column-gap: 15px;
    }

    &__grid {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1400px) {
    .articles-preview__container {
        grid-template-columns: 1fr;
        .blog-card-center-top {
            width:50%;
            justify-self: center;
            margin-bottom: 30px;
        }

    }
}

@media only screen and (max-width: 750px) {

    .articles-preview__grid {
        display: grid;
        column-gap: 15px;
        grid-template-columns: 1fr !important;
    }
    .blog-card-center-top {
        width:100% !important;
        justify-self: center;
        margin-bottom: 15px;
    }

}
